/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Project exclude paths
/storage/app/
/storage/framework/
/public/images/_assets/
/public/images/about/
/public/images/albums/
/public/images/articles/
/public/images/artists/
/public/images/charts/
/public/images/contact/
/public/images/daily/
/public/images/gimikboards/
/public/images/giveaway/
/public/images/giveaways/
/public/images/headers/
/public/images/home/
/public/images/indie/
/public/images/indiegrounds/
/public/images/jocks/
/public/images/live/
/public/images/podcasts/
/public/images/reports/
/public/images/scholarBatch/
/public/images/scholars/
/public/images/schools/
/public/images/shows/
/public/images/social_media/
/public/images/studentJocks/
/public/images/thumbnails/
/public/images/voting/
/public/images/wallpapers/
/public/images/404.png
/public/images/ajax-loader.gif
/public/images/anniv_wallp_android.jpg
/public/images/anniv_wallp_desktop.jpg
/public/images/anniv_wallp_ios.jpg
/public/images/app-logo.png
/public/images/app-logo-1024.png
/public/images/arrows.svg
/public/images/banner.jpg
/public/images/brand.png
/public/images/bt99.5-logo.png
/public/images/btcebuicon.png
/public/images/bullet.png
/public/images/cbp-loading.gif
/public/images/cbp-loading-popup.gif
/public/images/cbp-sprite.png
/public/images/default.png
/public/images/default-banner.png
/public/images/default-banner-lg.png
/public/images/default-banner-sm.png
/public/images/default-desktop-wallpaper-missing.png
/public/images/default-long.png
/public/images/default-mobile-wallpaper-missing.png
/public/images/defaultHeader.jpg
/public/images/defaultHeader.png
/public/images/defaultProfile.jpg
/public/images/defaultProfile.png
/public/images/empty_image.png
/public/images/favicon.ico
/public/images/generic-banner.jpg
/public/images/grabbing.png
/public/images/header-missing.png
/public/images/header-missing-large.png
/public/images/icon.png
/public/images/img-about.jpg
/public/images/img-service.jpg
/public/images/indieground.png
/public/images/live-banner.jpg
/public/images/loader.gif
/public/images/logo.png
/public/images/logo-1024.png
/public/images/logo-dark.png
/public/images/logo-header.png
/public/images/logo-main.png
/public/images/logo-new.png
/public/images/MAin Pub@4x-8.png
/public/images/monster.png
/public/images/Monster Radio Manila.png
/public/images/monster-logo.png
/public/images/monsterjockaudition2018.jpg
/public/images/MonsterJockAuditions.jpg
/public/images/monsterScholar.png
/public/images/monsterScholar-header.jpg
/public/images/no-image-icon.png
/public/images/page-loader.gif
/public/images/rx-banner.jpg
/public/images/rx-logo.png
/public/images/scholars-header.jpg
/public/images/shows-banner.jpg
/public/images/soc-logo-f.png
/public/images/soc-logo-ig.png
/public/images/soc-logo-t.png
/public/images/sort_asc.png
/public/images/sort_asc_disabled.png
/public/images/sort_both.png
/public/images/sort_desc.png
/public/images/sort_desc_disabled.png
/public/images/Sorting icons.psd
/public/images/spinner.gif
/public/images/sy-loader.gif
/public/audios/
/images/_assets/mobile/20230223-1900664304.png
/public/images/mobile_assets/20230211-1755530783.png
/images/mobile_assets/20230211-578395436.png
/images/_assets/mobile/20230218-2101122608.png
/public/images/mobile_assets/20230211-1215273532.png
/images/_assets/mobile/20230217-360892081.png
/images/mobile_assets/20230211-1721593701.png
/.idea/vcs.xml
/images/_assets/mobile/20230223-1098518124.png
/images/_assets/mobile/20230223-1732397922.png
/public/images/mobile_assets/20230211-810988967.png
/images/_assets/mobile/20230221-936588519.png
/images/_assets/mobile/20230211-2131550806.png
/public/images/mobile_assets/20230211-1196544154.png
/public/images/mobile_assets/20230217-1593165243.png
/public/images/mobile_assets/20230211-634695444.png
/images/mobile_assets/20230211-1726633999.png
/images/mobile_assets/20230211-1215273532.png
/monstercebu/cebucms/songs/theonesweonceloved-sample-20230521.mp3
/images/_assets/mobile/20230221-591072082.png
/public/songs/theonesweonceloved-sample-20230521.mp3
/public/images/mobile_assets/20230211-814844985.png
/images/mobile_assets/20230211-1347797636.png
/images/_assets/mobile/20230223-1178385228.png
/images/_assets/mobile/20230223-402935654.png
/public/images/mobile_assets/20230211-2131550806.png
/public/images/mobile_assets/20230217-960112168.png
/public/images/mobile_assets/20230211-1347797636.png
/monstercebu/songs/theonesweonceloved-sample-20230521.mp3
/public/images/mobile_assets/20230217-360892081.png
/images/mobile_assets/20230211-814844985.png
/public/images/mobile_assets/20230211-1708176101.png
/images/_assets/mobile/20230223-308891205.png
/public/images/mobile_assets/20230217-1340292675.png
/images/_assets/mobile/20230303-1066207388.png
/images/_assets/mobile/20230223-1694512.png
/images/_assets/mobile/20230227-262894209.png
/images/mobile_assets/20230217-1593165243.png
/images/_assets/mobile/20230217-1340292675.png
/public/images/mobile_assets/20230211-1701000141.png
/songs/theonesweonceloved-sample-20230521.mp3
/images/_assets/mobile/20230218-871133204.png
/images/mobile_assets/20230211-1196544154.png
/monsterdavao/songs/theonesweonceloved-sample-20230521.mp3
/public/images/mobile_assets/20230211-1721593701.png
/public/images/mobile_assets/20230211-578395436.png
/images/_assets/mobile/20230211-634695444.png
/images/_assets/mobile/20230211-1701000141.png
/images/_assets/mobile/20230211-1268950306.png
/images/_assets/mobile/20230218-97655646.png
/images/_assets/mobile/20230218-1427329740.png
/images/_assets/mobile/20230211-1755530783.png
/monsterdavao/davaocms/songs/theonesweonceloved-sample-20230521.mp3
/images/_assets/mobile/20230211-1708176101.png
/public/images/mobile_assets/20230211-1726633999.png
/images/_assets/mobile/20230227-112305903.png
/public/images/mobile_assets/20230211-1268950306.png
/images/mobile_assets/20230217-960112168.png
/images/_assets/mobile/20230211-810988967.png
