/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Project exclude paths
/storage/app/
/storage/framework/
/public/images/_assets/
/public/images/about/
/public/images/albums/
/public/images/articles/
/public/images/artists/
/public/images/charts/
/public/images/contact/
/public/images/daily/
/public/images/gimikboards/
/public/images/giveaway/
/public/images/giveaways/
/public/images/headers/
/public/images/home/
/public/images/indie/
/public/images/indiegrounds/
/public/images/jocks/
/public/images/live/
/public/images/podcasts/
/public/images/reports/
/public/images/scholarBatch/
/public/images/scholars/
/public/images/schools/
/public/images/shows/
/public/images/social_media/
/public/images/studentJocks/
/public/images/thumbnails/
/public/images/voting/
/public/images/wallpapers/
/public/images/404.png
/public/images/ajax-loader.gif
/public/images/anniv_wallp_android.jpg
/public/images/anniv_wallp_desktop.jpg
/public/images/anniv_wallp_ios.jpg
/public/images/app-logo.png
/public/images/app-logo-1024.png
/public/images/arrows.svg
/public/images/banner.jpg
/public/images/brand.png
/public/images/bt99.5-logo.png
/public/images/btcebuicon.png
/public/images/bullet.png
/public/images/cbp-loading.gif
/public/images/cbp-loading-popup.gif
/public/images/cbp-sprite.png
/public/images/default.png
/public/images/default-banner.png
/public/images/default-banner-lg.png
/public/images/default-banner-sm.png
/public/images/default-desktop-wallpaper-missing.png
/public/images/default-long.png
/public/images/default-mobile-wallpaper-missing.png
/public/images/defaultHeader.jpg
/public/images/defaultHeader.png
/public/images/defaultProfile.jpg
/public/images/defaultProfile.png
/public/images/empty_image.png
/public/images/favicon.ico
/public/images/generic-banner.jpg
/public/images/grabbing.png
/public/images/header-missing.png
/public/images/header-missing-large.png
/public/images/icon.png
/public/images/img-about.jpg
/public/images/img-service.jpg
/public/images/indieground.png
/public/images/live-banner.jpg
/public/images/loader.gif
/public/images/logo.png
/public/images/logo-1024.png
/public/images/logo-dark.png
/public/images/logo-header.png
/public/images/logo-main.png
/public/images/logo-new.png
/public/images/MAin Pub@4x-8.png
/public/images/monster.png
/public/images/Monster Radio Manila.png
/public/images/monster-logo.png
/public/images/monsterjockaudition2018.jpg
/public/images/MonsterJockAuditions.jpg
/public/images/monsterScholar.png
/public/images/monsterScholar-header.jpg
/public/images/no-image-icon.png
/public/images/page-loader.gif
/public/images/rx-banner.jpg
/public/images/rx-logo.png
/public/images/scholars-header.jpg
/public/images/shows-banner.jpg
/public/images/soc-logo-f.png
/public/images/soc-logo-ig.png
/public/images/soc-logo-t.png
/public/images/sort_asc.png
/public/images/sort_asc_disabled.png
/public/images/sort_both.png
/public/images/sort_desc.png
/public/images/sort_desc_disabled.png
/public/images/Sorting icons.psd
/public/images/spinner.gif
/public/images/sy-loader.gif
/public/audios/
