// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 1.35rem;
$font-weight-base: 700;

// Colors
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom Monster Colors
$monster-blue: #00c9ff;
$monster-yellow: #f4f900;
$monster-dark-gray: #181818;
$monster-medium-gray: #282828;
$monster-light-gray: #353535;
